/*** grey app links near footer ***/
section.app-store {
  margin: 0;
  margin-top: 1rem;
  width: 100%;
  height: auto;

  padding: 5rem var(--mobile-margin);
  background-color: var(--dark-navy);
  color: white;
  background-image: url('../../assets/patterns/semi-circles.svg');
  background-repeat: no-repeat;
  background-position: 80% 100%;
  background-size: auto;
  overflow: hidden;
  /* flex */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

section.app-store > h4.app-store__heading {
  font-size: 2rem;
  max-width: 17ch;
  text-align: center;
}

section.app-store > .app-store__links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.app-store__links > div {
  width: 11rem;
  height: 3.3rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  cursor: pointer;
  border: 1px solid transparent;
}

.app-store__links > div:hover,
.app-store__links > div:focus {
  border: 1px dotted var(--yellow);
}

div.links__ios {
  background-image: url('../../assets/icons/app-store.svg');
}

div.links__android {
  background-image: url('../../assets/icons/google-play.svg');
}

/*** footer ***/
footer {
  margin: 0;
  padding: 1rem var(--mobile-margin);
  width: 100%;
  background-color: #333A44;
  /* flex */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

footer > div.footer__text-logo > a {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-family: heading-font, Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  padding: 1rem;
  border: 1px solid transparent;
  cursor: pointer;
}

footer > div.footer__text-logo > a:hover, 
footer > div.footer__text-logo > a:focus {
  border: 1px dotted var(--yellow);
  color: var(--snow);
}

footer > .footer__secondary-nav > li,
footer > .social-links > ul > li {
  list-style-type: none;
  display: block;
}

a.secondary-nav__link {
  width: 100%;
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--mid-grey);
  text-align: center;
}

a.secondary-nav__link:hover,
a.secondary-nav__link:focus {
  color: var(--yellow);
}

nav.social-links > ul {
  display: inline-flex;
  gap: 0.6rem;
}

nav.social-links a.list__link {
  display: block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  /* color: var(--yellow); */
}

nav.social-links a.list__link:hover,
nav.social-links a.list__link:focus {
  filter: brightness(190%) saturate(65%) sepia(70%) 
      grayscale(74%) invert(30%);
}

li#facebook > a.list__link {
  background-image: url('../../assets/icons/facebook.svg');
  
}

li#twitter-or-x > a.list__link {
  background-image: url('../../assets/icons/twitter.svg');
}

li#instagram > a.list__link {
  background-image: url('../../assets/icons/instagram.svg');
}