body#home-page section.top {
  position: relative;
  background-image: url('../../assets/images/home-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* flex items */
  margin: 0;
  display: flex;
  padding: 10rem var(--mobile-margin);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1.top__main-heading {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

body#home-page p.top__description {
  color: white;
  text-align: center;
}

article.top-content {
  /* inner flex box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

div.top__yellow-arrow {
  position: absolute;
  width: 25rem;
  height: 10rem;
  left: -16rem;
  bottom: 2rem;
  background-image: url('../../assets/patterns/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 100%;
}

/*** features ***/
section.features-grid {
  display: block;
  margin: 3rem var(--mobile-margin);
}

div.feature {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  align-items: center;
  padding: 2rem 0; 
}

div.feature__icon {
  width: 3.75rem;
  height: 3.75rem;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 4rem;
}

div.feature__icon.locate {
  background-image: url('../../assets/icons/locate.svg');
}

div.feature__icon.scooter {
  background-image: url('../../assets/icons/scooter.svg');
}

div.feature__icon.ride {
  background-image: url('../../assets/icons/ride.svg');
}

h2.feature__title {
  color: var(--dark-navy);
  line-height: 2;
  text-align: center;
}

p.feature__description {
  color: var(--mid-grey);
  max-width: 40ch;
  text-align: center;
}

/*** cards with decorative arrows/circles next to pics ***/
/* sales pitches/ or sales content */
section.sales-pitches {
  width: 100%;
  margin: 3rem auto;
}

article.sales-pitches__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  overflow: hidden;
}

figure.card__figure {
  position: relative;
}

figure.card__figure > img {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border-radius: 100%;
}

div.card__text-info {
  padding: 2rem 0;
  margin: 0 var(--mobile-margin);
}

.card__title {
  margin: 0 auto;
  max-width: 20ch;
  font-size: 1.5rem;
  color: var(--dark-navy);
  line-height: 1.5;
  text-align: center;
}

.card__description {
  color: var(--mid-grey);
  max-width: 50ch;
  text-align: center;
}

.card__learn-more {
  display: block;
  margin: 2rem auto;
}

/* yellow arrows - sales cards */
div.top-card__right-down-arrow {
  width: 734px;
  height: 100px;
  position: absolute;
  right: -40%;
  bottom: 0;
  background-image: url('../../assets/patterns/left-downward-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

div.card__right-down-arrow {
  width: 390px;
  height: 130px;
  position: absolute;
  left: 52%;
  top: 20%;
  background-image: url('../../assets/patterns/left-downward-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

div.card__left-down-arrow {
  width: 100%;
  height: 40%;
  position: absolute;
  left: -40%;
  top: 0;
  background-image: url('../../assets/patterns/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}