body#home-page section.top {
  position: relative;
  background-image: url('../../assets/images/home-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* flex items */
  margin: 0;
  display: flex;
  padding: 10rem var(--mobile-margin);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1.top__main-heading {
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

body#home-page p.top__description {
  color: white;
  text-align: center;
}

div.top__yellow-arrow {
  position: absolute;
  width: 25rem;
  height: 10rem;
  left: -16rem;
  bottom: 2rem;
  background-image: url('../../assets/patterns/right-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0% 100%;
}