/* intro below the header, styles in common to 3 pages */
body#about-page > section.intro,
body#careers-page > section.intro,
body#locations-page > section.intro {
  margin: 0;
  width: 100%;
}

body#about-page > section.intro > h1,
body#careers-page > section.intro > h1,
body#locations-page > section.intro > h1 {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 0;
  color: white;
  text-align: center;
  font-size: 3rem;
}

body#about-page > section.intro {
  background-image: url('../../assets/images/about-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* sales info */
div.top-card__right-up-arrow {
  width: 600px;
  height: 100px;
  position: absolute;
  right: -40%;
  bottom: 0;
  background-image: url('../../assets/patterns/left-upward-arrow.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 2;
}

/* values section */
section.values {
  max-width: 100%;
  display: grid;
  grid-template-rows: 6rem 1fr;
  justify-content: center;
}

section.values > h2 {
  color: var(--dark-navy);
  line-height: 2;
  font-size: 2rem;
  text-align: center;
}

div.value {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

div.value > figure {
  position: relative;
}

div.value > figure > div.value__img {
  width: 16rem;
  height: 16rem;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 100%;
}

div.value#value-1 > figure > div.value__img {
  background-image: url('../../assets/images/our-tech.jpg');
}

div.value#value-2 > figure > div.value__img {
  background-image: url('../../assets/images/our-integrity.jpg');
}

div.value#value-3 > figure > div.value__img {
  background-image: url('../../assets/images/our-community.jpg');
}

div.value > h3 {
  margin-top: 3rem;
  color: var(--dark-navy);
  text-align: center;
  font-size: 1.7rem;
  padding: 1.5rem var(--mobile-margin);
}

div.value > .value__para {
  color: var(--mid-grey);
  max-width: 40ch;
  margin: 1rem var(--mobile-margin) 2rem;
  text-align: center;
}

div.value__number {
  position: absolute;
  bottom: -18%;
  left: 33%;
  width: 6rem;
  height: 6rem; 
  padding: 1.8rem;
  font-size: 1.8rem;
  font-weight: bold;
  background-color: var(--yellow);
  color: var(--dark-navy);
  border-radius: 7rem;
}