body#locations-page > section.intro {
  background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
}

div.world-map {
  margin: 3rem var(--mobile-margin) 0;
  max-width: 90%;
  height: 20rem;
  background-image: url('../../assets/images/world-map-mobile.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

li.place {
  margin: 0.8rem var(--mobile-margin);
  padding: 1rem;
  background-color: hsla(40, 97%, 58%, 15%);
  color: var(--dark-grey);
  list-style-type: none;
  text-align: center;
}

/*** message us section ***/
section.message-us {
  margin: 3rem var(--tablet-margin);
}

h2.message-us__heading {
  color: var(--dark-grey);
  line-height: 2;
  max-width: 12ch;
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
}

p.message-us__text {
  margin: 0 auto;
  max-width: 600px;
  color: var(--mid-grey);
  text-align: center;
  padding: 2rem 2rem;
}

button.message-us__btn {
  display: block;
  margin: 2rem auto;
}