@media screen and (min-width: 780px) {
  /* general styles */
  header,
  section,
  footer {
    margin: 0 var(--tablet-margin);
  }

  /*** header and main navigation menu ***/
  .header__mobile-menu-btn {
    display: none;
  }

  #header__text-logo {
    flex-grow: 0;
  }

  div.mobile-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: static;
    width: auto;
    height: auto;
    overflow: inherit;
    margin: 0;
  }

  div.mobile-menu > ul {
    background-color: white;
    width: auto;
    height: auto;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  .mobile-menu > ul > .menu__item {
    display: block;
    list-style-type: none;
  }

  .mobile-menu > ul > .menu__item > a {
    display: block;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: var(--dark-navy);
    text-decoration: none;
  }

  .mobile-menu > ul > .menu__item > a:hover,
  .mobile-menu > ul > .menu__item > a:focus {
    color: var(--yellow);
  }

  /* Home page styles - top intro section */
  body#home-page section.top {
    background-image: url('../../assets/images/home-hero-tablet.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    padding-left: var(--tablet-margin);
    padding-right: var(--tablet-margin);
  }

  h1.top__main-heading {
    max-width: 25ch;
    color: white;
    font-size: 2.5rem;
    text-align: center;
  }

  body#home-page p.top__description {
    max-width: 60ch;
    color: white;
    text-align: center;
  }

  div.top__yellow-arrow {
    position: absolute;
    width: 25rem;
    height: 10rem;
    left: -5rem;
    bottom: 2rem;
    background-image: url('../../assets/patterns/right-arrow.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 0% 100%;
  }

  div.top__white-circles-desktop {
    display: block;
    position: absolute;
    width: 234px;
    height: 63px;
    bottom: 3rem;
    right: -2rem;
    background-image: url('../../assets/patterns/white-circles.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 0%;
  }

  /*** features ***/
  section.features-grid {
    display: grid;
    margin: 3rem var(--tablet-margin);
    justify-content: center;
  }

  div.feature {
    position: relative;
    width: 100%;
    flex-direction: row;
    justify-items: space-between;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
  }

  div.feature__icon {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 8rem;
  }
  /* grey stripe */
  div.feature__icon::before {
    position: absolute;
    content: '';
    left: 2.7rem;
    top: -3rem;
    width: 1rem;
    height: 7rem;
    z-index: -10;
    background-color: var(--light-grey);
  }

  h2.feature__title,
  p.feature__description {
    text-align: left;
  }

  p.feature__description {
    max-width: 50ch;
  }

  /*** cards with decorative arrows/circles next to pics ***/
  /* sales pitches/ or sales content */
  div.left-full-circle,
  div.right-full-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url('../../assets/patterns/circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
  }

  div.left-full-circle {
    left: -90%;
    clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
  }

  div.right-full-circle {
    right: -100%;
    clip-path: polygon(0% 0%, 40% 0%, 40% 100%, 0% 100%);
  }

  /*** grey app links near footer ***/
  section.app-store {
    background-position: 60% 100%;
  }
}
