@media screen and (min-width: 1200px) {
  /* Home page styles - top intro section */
  body#home-page section.top {
    background-image: url('../../assets/images/home-hero-desktop.jpg');
  }
  
  h1.top__main-heading {
    max-width: 15ch;
    font-size: 2.5rem;
    text-align: left;
    align-self: flex-start;
    margin-left: 10%;
  }
  
  body#home-page p.top__description {
    max-width: 55ch;
    color: white;
    text-align: justify;
    padding: 0 3rem;
  }

  article.top-content {
    align-self: flex-start;
    margin-left: 20%;
    /* inner flex box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  div.top__yellow-line-desktop {
    /* grid-column: 1 / 2; */
    position: absolute;
    width: 15%;
    height: 1rem;
    left: 0;
    top: 55%;
    background-image: url('../../assets/patterns/line.svg');
  }
  
  div.top__yellow-arrow {
    /* grid-column: 3 / 4; */
    position: absolute;
    width: 22%;
    height: 15%;
    margin-left: 3rem;
    margin-right: 3rem;
    left: 60%;
    top: 55%;
    background-image: url('../../assets/patterns/right-arrow.svg');
  }
  
  div.top__white-circles-desktop {
    /* grid-column: 4 / 5; */
    position: absolute;
    width: 223px;
    height: 52px;
    top: 62%;
    right: -40px;
    background-image: url('../../assets/patterns/white-circles.svg');
  }
}